body {
    font-family: 'Lato', sans-serif;
}

#main nav {
    background-color: #fff;
}

nav#main li {
    display: inline;
    margin-right: 25px;
    float: right;
}

hr {
    clear: both;
}

img {
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

#main ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#main ul li:hover:after {
    width: 100%;
}

.logo {
    width: 350px;
}

h1,
h2 {
    text-transform: none;
}

p {
    font-weight: 400;
    text-transform: none;
}

#mainNews {
    background-color: #ffb000;
    height: 35px;
}

#mainNews h3 {
    margin-left: 25px;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
}

#science {
    background-color: #648fff;
    color: #fff;
    height: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#science h3 {
    margin-left: 25px;
    padding: 5px;
}

#politics {
    background-color: #785ef0;
    color: #fff;
    height: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#politics h3 {
    margin-left: 25px;
    padding: 5px;
}

#music {
    background-color: #dc267f;
    color: #fff;
    height: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#music h3 {
    margin-left: 25px;
    padding: 5px;
}

#art {
    background-color: #fe6100;
    color: #fff;
    height: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#art h3 {
    margin-left: 25px;
    padding: 5px;
}

.weatherwidget-io {
    width: 320px;
    float: right;
}

#art3 {
    margin-top: 25px;
}

#foot1 {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footerLogo {
    width: 250px;
}

.tagline {
    margin-top: -10px;
}

.social {
    width: 1.75rem;
    margin-left: 0.5rem;
}

#mainNews .col-1-3 {
    background-color: #f0f0f0;
    padding: 20px;
}

.mainHr {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    #mainNews .col-1-3 {
        background-color: #fff;
    }
    ul {
        padding: 0;
    }
    nav#main li {
        display: inline;
        margin-right: 25px;
        float: left;
    }
    nav#main li#searchIcon {
        display: none;
    }
    .weatherwidget-io {
        width: 100%;
        float: left;
    }
}